html {
   -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
   box-sizing: border-box;
 }
 
  /*css reset and font stuff*/
  body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    color: #152545;
    background-color: #FCFDFF;
    ;
  }

  .nav {
    position: absolute;
    width: 100vw;
    height: 472px;
    filter: drop-shadow( 0px 8px 10px rgba(78, 118, 131, 0.07));
    background: radial-gradient(90% 500px at 50% -50px, #FFE6A5 100%, transparent 100%) no-repeat;
  }

  .nav {
    display:block;
    text-align: center;
  }

.logo {
  display: inline-block;
  margin-top: 1.5rem;
}

  .hamburger {
    float: left;
    margin: 2rem 3rem 0;
  }

  .search {
    float: right;
    margin: 2rem 3rem 0;
  }

  h1 {
    letter-spacing: 0.08em;
    padding-top: 3rem;
    margin: 0;
  }

  h2 {
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
letter-spacing: 0.05em;
margin-top: .2rem;
  }

  .ramen {
    margin-top: -1.5rem;
    font-weight: 600;
  }


  main {
    display: flex;
    padding-top: 700px;
  }
  
  .recipemargin {
    margin: auto 6rem;
  }

  .recipes {
    margin: 0 4rem 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  div.recipes>h1 {
    padding: 0;
  }

  div.recipes {
    margin-top: -22px;
    margin-left: 10px;
  }

  .strike {
    position: relative;
    background-color: #FFE6A5;
    height: 10px;
    width: 100vw;
    margin: 5rem 5rem 0 ;

  }

  .grid {
    display: grid;
    justify-items: center;
    margin: 3rem 2.5rem 3rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  @media screen and (max-width: 1000px) {
    .recipemargin {
      margin: auto 0;
    }
  }

  @media screen and (max-width: 660px) {
    picture>img{
      width: 500px;
    }
    h1 {
      font-size: 1.3rem;
    }
    h2 {
      font-size: 1rem;
    }
    .logo>img {
      width: 200px;
    }
    .hamburger>img, .search>img{
      width:20px;
    }
    .hamburger {
      margin-right: 1rem;
      margin-left: 2rem;
    }
    .search {
     margin-left: 1rem;
     margin-right: 2rem;
   }
    main {
      padding-top: 550px;
  }
    div.recipes {
      margin-top: -14px;
      margin-left: 10px;
  }
    .strike {
      height: 7px;
      margin: 5rem 2rem 0 ;
    }
    div.grid>div>img {
      width: 200px;
    }
    .grid {
      margin: 2rem 2.5rem 2rem;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
    
    @media screen and (max-width: 500px) {
      picture>img{
        width: 350px; 
       }
       .nav {
        background: radial-gradient(90% 420px at 50% -50px, #FFE6A5 100%, transparent 100%) no-repeat;

       }
       main {
        padding-top: 420px;
      }
  }

