html {
   -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
   box-sizing: border-box;
 }
 
  /*css reset and font stuff*/
  body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    color: #152545;
    background-color: #E5E5E5;
  }

  .nav {
    position: absolute;
    width: 100vw;
    height: 472px;
    filter: drop-shadow( 0px 8px 10px rgba(78, 118, 131, 0.07));
    background: radial-gradient(90% 500px at 50% -50px, #FFE6A5 100%, transparent 100%) no-repeat;
  }