html {
   -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
   box-sizing: border-box;
 }
 
  /*css reset and font stuff*/
  body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    color: #152545;
    background-color: #E5E5E5;
  }

  .nav {
    position: absolute;
    width: 100vw;
    height: 472px;
    filter: drop-shadow( 0px 8px 10px rgba(78, 118, 131, 0.07));
    background: radial-gradient(90% 500px at 50% -50px, #FFE6A5 100%, transparent 100%) no-repeat;
  }

  .nav {
    text-align: center;
  }

.logo {
  display: inline-block;
  margin-top: 1.5rem;
}

  .hamburger {
    float: left;
    margin: 2rem 3rem 0;
  }

  .search {
    float: right;
    margin: 2rem 3rem 0;
  }

  h1 {
    letter-spacing: 0.08em;
    padding-top: 3rem;
    margin-bottom: 0;
  }

  h2 {
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
letter-spacing: 0.05em;
margin-top: .2rem;
  }