
html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  box-sizing: border-box;
}

 /*css reset and font stuff*/
 body {
   margin: 0;
   padding: 0;
   border: 0;
   font-family: 'Poppins',sans-serif;
   font-size: 1rem;
   color: #152545;
   background-color: #FCFDFF;
 }

 /*NAVIGATION BAR*/

 nav {
   background: #FFE6A5;
   padding: 1.5rem 0 1.5rem;
 }
 
 .logo {
   display: flex;
   justify-content: center;
 }

 .hamburger {
   float: left;
   margin: 2rem 3rem 0;
 }

 .search {
   float: right;
   clear: right;
   margin: .5rem 3rem 0;
 }

 .hero {
   text-align: center;
 }
 .center {
   display: flex;
   justify-content: center;
   height: 500px;
   background: radial-gradient(90% 500px at 50% -50px, #FFE6A5 100%, transparent 100%) no-repeat;

 }

 .recipehover:hover {
   opacity: 90%;
 }

 /*fonts*/

 h1 {
   letter-spacing: 0.08em;
   padding-top: 3rem;
   margin: 0;
   font-size: 1.8rem;
 }

 h2 {
 font-style: normal;
 font-weight: 500;
 font-size: 1.5rem;
 letter-spacing: 0.05em;
 margin-top: .2rem;
 }

 h2.view {
   float: right;
   padding: 1rem 2rem 1rem;
 }

 p{
   line-height:1.8;
 }

 .ramen {
   margin-top: -1.5rem;
   font-weight: 600;
 }
 
 .recipes {
   position: absolute;
   top: 0;
   left: 0;
 }

 div.recipes>h1 {
   padding: 0;
 }

 div.recipes {
   margin-top: -19px;
   margin-left: 10px;
 }

 .strike {
   position: relative;
   background-color: #FFE6A5;
   height: 10px;
   margin: 4rem 4rem 0;
 }

 .featuredrecipes {
   padding-top: 6rem;
   margin: auto 6rem;
 }

 .grid, .grid2 {
   display: grid;
   justify-items: center;
   margin-top: 3rem;
 }

 .grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 }

 .grid2 {
   margin-top: -20rem;
   padding: 0 10rem 0;
   grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
 }
 div.grid2>div>img {
   width:120px;
 }

 .searchbar {
   font-family: 'Poppins', sans-serif;
   padding: .5rem 1.5rem;
   border-radius: 10px;
   margin-top: 1.5rem;
   width: 500px;
   border-style: hidden;
 }

 .editbox {
   background-color: #FFE6A5;
   margin: 2rem 2rem;
   padding: .2rem 4rem;
   border-radius: 10px;
 }
 
.date, .edit {
  margin-right: 4rem;
}

.delete, .edit, .date {
  float: right;
}
.date, .edit, .delete, .recipename {
  display:inline-block;
}

 /*HAMBURGER*/

 #menuToggle
{
 display: block;
 position: relative;
 float: left;
 clear: left;
 margin: .5rem 2rem 2rem 2rem;
 
 z-index: 1;
 
 -webkit-user-select: none;
 user-select: none;
}

#menuToggle a
{
 text-decoration: none;
 color: #232323;
 
 transition: color 0.3s ease;
}

#menuToggle a:hover
{
 color: tomato;
}


#menuToggle input
{
 display: block;
 width: 40px;
 height: 32px;
 position: absolute;
 top: -7px;
 left: -5px;
 
 cursor: pointer;
 
 opacity: 0; /* hide this */
 z-index: 2; /* and place it over the hamburger */
 
 -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span
{
 display: block;
 width: 33px;
 height: 4px;
 margin-bottom: 5px;
 position: relative;
 
 background: #152545;
 border-radius: 3px;
 
 z-index: 1;
 
 transform-origin: 4px 0px;
 
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             opacity 0.55s ease;
}

#menuToggle span:first-child
{
 transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
 transform-origin: 0% 100%;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span
{
 opacity: 1;
 transform: rotate(45deg) translate(-2px, -1px);
 background: #232323;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
 opacity: 0;
 transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
 transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu
{
 position: absolute;
 width: 300px;
 margin: -100px 0 0 -50px;
 padding: 50px;
 padding-top: 125px;
 
 background: #FFF8E8;
 list-style-type: none;
 -webkit-font-smoothing: antialiased;
 /* to stop flickering of text in safari */
 
 transform-origin: 0% 0%;
 transform: translate(-100%, 0);
 
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
 padding: 10px 0;
 font-size: 22px;
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul
{
 transform: none;
}

.recipemargin {
  margin: 0 2rem;
}

.recipemargin {
  margin-top: -4rem;
}
.searchbar {
  width:600px;
}

.recipegrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 2rem;
}

.leftrecipe {
  grid-column-start: 1;
  grid-column-end: 6;
}
.rightrecipe {
  grid-column-start: 7;
  grid-column-end: 12;
}
.ingredients {
  background:#FFE6A5;
  padding: 0 3rem 2rem ;
  border-radius: 10px;
}
p.step {
  font-weight: bold;
}

.add {
  float: right;
  margin-right:2rem;
  margin-top: -.5rem;
}

.add:hover {
  color: tomato;
  text-decoration: underline;
}

.pickimage {
  width: 400px;
}
form {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
}
input {
  display: flex;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

input[type=submit]{
  background-color: #FFE6A5;
  border-radius: 5px;
  padding: .2rem 1rem;
  margin-bottom: 1rem;
}

input[type=text] {
  padding: .5rem 0 .5rem .8rem;
  margin: 1rem 0;
  width: 95%;
}

input[type=file] {
  margin-top: .5rem;
}

input[type=submit]:hover, input[type=file]:hover {
  cursor: pointer;
}





@media screen and (max-width: 1300px) {
  div.rightrecipe>img {
    width:100%;
  }
  div.ingredients>h1, div.rightrecipe>h1 {
    font-size: 1.5rem;
  }
  div.rightrecipe>h2 {
    font-size: 1rem;
  }
  div.ingredients>p, div.rightrecipe>p {
    font-size: .8rem;

}
}


@media screen and (max-width: 810px) {
 picture>img{
   width: 500px;
 }
 h1 {
   font-size: 1.3rem;
 }
 h2 {
   font-size: 1rem;
 }
 .logo>img {
   width: 200px;
 }
  .search>img{
   width:20px;
 }
 .search {
  margin-left: 1rem;
  margin-right: 2rem;
}
 div.recipes {
   margin-top: -14px;
   margin-left: 10px;
}
 .strike {
   height: 7px;
   margin: 5rem 2rem 0 ;
 }
 div.grid>div>img, img.banana {
   width: 200px;
 }
 .grid {
   margin: 2rem 0;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

 }
 .grid2>div>img {
   width:120px;
 }
   .grid2 {
     grid-template-columns: repeat(auto-fit, minmax(120px, 1fr))
 }
 .featuredrecipes {
   padding-top: 0rem;
   margin: auto 1rem;
 }
 .center {
   background: radial-gradient(90% 350px at 50% -50px, #FFE6A5 100%, transparent 100%) no-repeat;
   height: 450px;
 }
 #menuToggle span
{
 width: 27px;
 height: 2px;
 margin-bottom: 5px;
}
div.grid2>div>img {
  width:100px;
}
.grid2 {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 0 4rem 0;
}
.recipemargin {
  margin: -10rem 1rem 0;
}
.searchbar {
  width:380px;
}
.leftrecipe {
  grid-column-start: 1;
  grid-column-end: 13;
}
.rightrecipe {
  grid-column-start: 1;
  grid-column-end: 13;
  margin-top: 3rem;
}

.editbox {
  margin: 1.5rem 2rem;
  padding: .5rem 2rem;
  border-radius: 10px;
  font-size: 75%;
}
.date, .edit {
 margin-right: 2rem;
}
.viewall {
  margin-top: -2rem;
}
}
 @media screen and (max-width: 500px) {
   picture>img{
     width: 350px; 
    }
    div.grid>div>img, img.banana {
     width: 150px;
   }
   .grid {
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   }
   .grid2>div>img {
     width:100px;
   }
   .center {
     height: 350px;
   }
   .grid2 {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-top: -14rem;
   }
   .recipemargin {
     margin-top: -5rem;
   }
    .searchbar {
      width:300px;
  }
  div.ingredients>h1, div.rightrecipe>h1 {
    font-size: 1.2rem;
  }
  div.rightrecipe>h2 {
    font-size: .8rem;
  }

  .editbox {
    margin: 1rem 2rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    font-size: 70%;
  }
  .date, .edit {
   margin-right: 1rem;
  }

  .add {
    font-size: 80%;
    margin-top: 0;
  }
  
  .pickimage {
    width: 100%;
  }
  
}


 @media screen and (max-width: 420px) {
   body {
     background: #FFE6A5;
   }
   .searchbar {
     width: 240px;
   }
   h1 {
     font-size: 1.1rem;
   }
   .recipemargin {
     margin-top: -10rem;
   }
  .leftrecipe {
     margin-top: -4rem;
   }
   .ingredients {
     padding: 0;
   }
   div.strike {
     background-color:#FFF8E8;
   }
   div.recipes {
    margin-top: -10px;
    margin-left: 10px;
  }
  .editbox {
    margin: 1rem 1rem;
    padding: .3rem 1rem;
    border-radius: 10px;
    font-size: 60%;
    background-color: #FFF8E8
  }
  .date, .edit {
   margin-right: 1rem;
  }
  .viewall {
    margin-top: -3rem;
  }
  input[type=submit] {
    background-color: #FFF8E8;
    margin-left: 0;
  }
 }